<!-- https://github.com/qq15725/modern-gif -->
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <title>Gif</title>
    <script>
      const width = 400;
      const height = 200;

      const canvas = document.getElementById('canvas');
      const ctx = canvas.getContext('2d');

      let gifFrames = [];

      canvas.width = width;
      canvas.height = height;

      const values = { start: 0, end: 100 };

      gsap.to(values, 1, {
        start: values.end,
        onUpdate: () => {
          console.log(values.start);
          ctx.clearRect(0, 0, width, height);

          ctx.fillStyle = '#e73e32';
          ctx.fillRect(values.start, 70, 50, 50);

          gifFrames.push(canvas.toDataURL('image/png'));
        },
        onComplete: async () => {
          console.log(gifFrames);

          const gif = await modernGif.encode({
            width: width,
            height: height,
            frames: gifFrames.map((frame) => {
              return { imageData: frame, delay: 0 };
            }),
          });

          const frames = await gif;
          const blob = new Blob([frames], { type: 'image/gif' });
          const src = URL.createObjectURL(blob);
          console.log(src);

          const image = document.getElementById('image');
          const link = document.getElementById('link');

          link.style.opacity = '100%';
          image.src = src;
          link.href = src;
        },
      });
    </script>
  </head>
  <body>
    <main>
      <h1>Gif</h1>
      <canvas id='canvas'></canvas>
      <img id='image' />
      <a id='link' download='simple.gif'>Download</a>
    </main>
    <script is:inline src='https://unpkg.com/modern-gif'></script>
    <script is:inline src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js'></script>
  </body>
</html>
