<!-- https://github.com/ffmpegwasm/ffmpeg.wasm/ -->
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <title>Video</title>
    <script>
      const width = 400;
      const height = 200;

      const canvas = document.getElementById('canvas');
      const ctx = canvas.getContext('2d');

      let gifFrames = [];

      canvas.width = width;
      canvas.height = height;

      const values = { start: 0, end: 100 };

      gsap.to(values, 1, {
        start: values.end,
        onUpdate: () => {
          console.log(values.start);
          ctx.clearRect(0, 0, width, height);

          ctx.fillStyle = '#e73e32';
          ctx.fillRect(values.start, 70, 50, 50);

          gifFrames.push(canvas.toDataURL('image/png'));
        },
        onComplete: async () => {},
      });
    </script>
  </head>
  <body>
    <h1>Video</h1>
    <canvas id='canvas'></canvas>
    <video id='video'></video>
    <a id='link' download='simple.mp4' class='opacity-0'>Download</a>
    <script is:inline src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js'></script>
  </body>
</html>
